/* не можна писати css стилі через дефіс {header.nav-nav}, тільки через нижнє підкреслення, хіба що {header['header.nav-nav']}, якщо потрібно призначити два стилі то - `${header.nav} ${header.bar}`*/
.header {
  grid-area: h;
  background-color: antiquewhite;
}

.header img {
  width: 50px;
}

