
.nav {
  min-width: 80px;
  grid-area: n;
  padding: 20px;
  background-color: blue;
}

.nav ul {
  list-style: none;
}

.item a {
  text-decoration: none;
  color: white;
}

.item .active {
  color: gold;
}